<div fxLayout="row">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <span>{{page_name}}</span>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="Select Type">
                    <mat-option (onSelectionChange)="onChange($event)" *ngFor="let item of items" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div fxLayout="row">
    <div fxLayout="column" fxFlex="100">
        <table fxFlex mat-table [dataSource]="data" class="mat-elevation-z1">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell class="mouse_pointer" *matCellDef="let element" (click)="name(element.name)">
                    {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="brewery_type">
                <th mat-header-cell *matHeaderCellDef> Brewery Type </th>
                <td mat-cell *matCellDef="let element"> {{element.brewery_type}} </td>
            </ng-container>

            <ng-container matColumnDef="street">
                <th mat-header-cell *matHeaderCellDef> Street </th>
                <td mat-cell *matCellDef="let element"> {{element.street}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td class="mouse_pointer" mat-cell (click)="city(element.city)" *matCellDef="let element">
                    {{element.city}}
                </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell class="mouse_pointer" *matCellDef="let element" (click)="state(element.state)">
                    {{element.state}} </td>
            </ng-container>


            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef> Longitude </th>
                <td mat-cell class="mouse_pointer" *matCellDef="let element"
                    (click)="dist(element.longitude,element.latitude)">
                    {{element.longitude}} </td>
            </ng-container>

            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef> Latitude </th>
                <td mat-cell class="mouse_pointer" *matCellDef="let element"
                    (click)="dist(element.longitude,element.latitude)">
                    {{element.latitude}} </td>
            </ng-container>

            <ng-container matColumnDef="postal_code">
                <th mat-header-cell *matHeaderCellDef> Postal Code </th>
                <td mat-cell class="mouse_pointer" *matCellDef="let element" (click)="postal(element.postal_code)">
                    {{element.postal_code}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div fxLayout="row" *ngIf="data.length===0" fxLayoutAlign="center center">
            <span>Records not found</span>
        </div>
    </div>
</div>